/* Integrate whole webpage CSS */
*{
    font-family: 'Poppins' , sans-serif;
}

/* -------------------QUESTION 1,2,3,4,5 PAGE------------------- */

/* Upper box CSS */
.upper-box{
    display: flex;
}

/* Question Number CSS */
.number{
    color: white;
    font-size: 44px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 35px 0 0 70px;
}

/* Image bomb CSS */
.image-bomb{
    margin: 20px 0 0 80%;
}

/* explosion CSS */
#explosion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 999;
    display: none;
}

/* Animation explosion */
@keyframes explosionAnimation {
    0% {
      background-image: url('icon/explode1.jpg');
    }
    50% {
      background-image: url('icon/explode2.jpg');
    }
    100% {
      background-image: url('icon/explode1.jpg');
    }
}

/* Timer CSS */
.timer{
    color: white;
    font-size: 33px;
    margin: 35px;
}

/* Question Text & Box CSS */
.question{
    background-color: rgb(252, 153, 169);
    color: black;
    font-size: 44px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 1.5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: -3%;
    width: 50%;
    padding: 3.5% 0 3.5% 0;
    border: 2px solid black;
}

/* Box button CSS */
.button-box{
    text-align: center;
    margin: 5%;
}

/* Answer Box CSS */
.answer-text{
    width: 30%;
    font-size: 30px;
    font-weight: 100;
    margin: 1.5%;
    padding: 1%;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

/* Answer Box CSS transition */
.answer-text:hover{
    transform: scale(1.1);
}

/* Bottom Box CSS */
.bottom-box{
    margin-top: 0.7%;
    position: fixed;
    display: flex;
}

/* Box for the lives CSS */
.lives{
    margin-top: -2%;
    text-align: center;
}

/* The Lives CSS */
.lives-text{
    margin-left: 10%;
    margin-bottom: 0;
    font-size: 33px;
    font-weight: 700;
}

/* Heart Container CSS */
.heart-container{
    display: flex;
    justify-content: center;
    margin-left: 6%;
}

/* The Heart Image CSS */
.heart{
    margin-right: -2%;
}

.powerup-use-container2{
    margin: 9% 0 0 440%; 
}

.powerup-use-container3{
    margin: -60% 0 0 800%; 
}

.powerup-use-container4{
    margin: -75% 0 0 800%; 
}

.powerup-use-container5{
    margin: -45% 0 0 800%; 
}

.powerup-image-question{
    height: 100px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.powerup-image-question:hover{
    transform: scale(1.2);
}

/* -------------------END------------------- */

/* -------------------WHOLE PAGE USE------------------- */

/* Display text center CSS */
.centered-page-text{
    text-align: center;
}

/* -------------------END------------------- */

/* -------------------GAME OVER PAGE------------------- */

/* Game over title CSS */
.game-over-title{
    color: white;
    font-size: 700%;
    font-weight: 800;
}

/* Menu button CSS */
.menu-button{
    background-color: #ffe135;
    font-size: 150%;
    padding: 20px 50px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* Menu button hover CSS */
.menu-button:hover{
    background-color: #7cfc00;
    transform: scale(1.2);
}

/* -------------------END------------------- */

/* -------------------CORRECT PAGE------------------- */

/* Fun Fact title CSS */
.fun-fact-title{
    font-size: 77px;
    font-weight: bold;
    color: white;
    text-shadow:
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
    margin: 1.9% 0 0 0;
    padding: 0;
}

/* Continue button image CSS */
.continue-image{
    position: sticky;
    margin: 3.5% 0 0 83%;
    padding: 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* Continue button transition CSS */
.continue-image:hover{
    transform: scale(1.2);
}

/* Fun fact picture CSS */
.img-fun-fact{
    color: black;
    margin-top: 0.9%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
    border: 3px solid black;
}

/* The fun fact text CSS */
.fun-fact-text{
    color: black;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    margin: 100px 0 0 0;
    padding: 0;
}

/* -------------------END------------------- */

/* -------------------POWERUP PAGE------------------- */

.powerup-container{
    text-align: center;
    margin-top: 100px;
}

.powerup-image{
    margin: 100px 50px 0 50px;
    height: 350px;
    cursor: pointer;
    padding: 0;
    transition: 0.2s ease-in-out;
}

.powerup-image:hover{
    transform: scale(1.2);
}

.powerup-desc{
    display: flex;
    text-align: center;
    margin: 0 100px 0 150px;
}

.powerup-text{
    margin: 0 120px 0 140px;
}

.powerup-text p{
    font-size: 22px;
}

/* -------------------END------------------- */

/* -------------------INTRODUCTION------------------- */

.row-one{
    text-align: center;
}

.row-two{
    text-align: center;
}

.row-two2{
    text-align: center;
}

.continue-intro{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-left: 80%;
}

.continue-intro:hover{
    transform: scale(1.2);
}

.container-back-continue{
    display: flex;
}

.continue-intro2{
    position: absolute;
    left: 80%;
    transition: 0.2s;
}

.continue-intro2:hover{
    transform: scale(1.2);
}

.back-intro{
    position: absolute;
    left: 4%;
    transition: 0.2s;
}

.back-intro:hover{
    transform: scale(1.2);
}

/* -------------------END------------------- */

/* -------------------MENU CSS------------------- */

.menu-box{
    position: absolute;
    top: 55%;
    margin: 0 0 0 100px;
}

.main-button{
    background-color: #ffe135;
    font-size: 30px;
    width: 66%;
    padding: 30px 44px 30px 44px;
    margin: 30px 10px 0 10px;
    transition: 0.2s;
    cursor: pointer;
}

.main-button:hover{
    background-color: #7cfc00;
    color: white;
    transform: scale(1.2);
}

/* -------------------END------------------- */

/* -------------------HOW TO PLAY CSS------------------- */

.how-title{
    font-size: 77px;
    font-weight: bold;
    color: white;
    text-shadow:
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
    margin: -2% 0 0 0;
    padding: 0;
}

.power-image{
    margin: 10px 50px 0 50px;
    height: 350px;
    padding: 0;
}

.powerup-container h1{
    font-size: 88px;
}

.powerup-container p{
    margin-top: 1%;
    font-size: 44px;
    font-weight: bold;
}

.continue-how{
    margin-left: 80%;
    cursor: pointer;
    transition: 0.2s;
}

.continue-how:hover{
    transform: scale(1.2);
}

.bottom-how{
    margin-top: 27%;
}

.bottom-how2{
    margin-top:31%;
}

/* -------------------END------------------- */

/* -------------------CREDIT------------------- */

.credits{
    text-align: center;
    margin-top: 5%;
}

.credits h1, h2{
    font-size: 44px;
}

.back-credit{
    position: absolute;
    left: 2%;
    top: 80%;
    transition: 0.2s;
}

.back-credit:hover{
    transform: scale(1.2);
}
/* -------------------END------------------- */

/* -------------------OUTRO------------------- */

.row-one3{
    text-align: center;
    margin-top:88px;
}

.row-two3{
    text-align: center;
    margin-top:88px;
}

.continue-outro{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-left: 80%;
    margin-top: 5%;
    transition: 0.2s;
}

.continue-outro:hover{
    transform: scale(1.2);
}

/* -------------------END------------------- */

/* answer box */
.answer-box {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;    
  }
  
  /* Answer Box CSS */
  .answer-text2{
    width: 5%;
    font-size: 30px;
    font-weight: 100;
    margin: 1.5%;
    padding: 1%;
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  /* Answer Box CSS transition */
  .answer-text:hover{
    transform: scale(1.1);
  }
  
  .answer-text:active {
    transform: scale(0.9);
  }

  .continue-ending2{
    margin-left: 80%;
    margin-top: -2%;
    transition: 0.2s;
  }

  .continue-ending2:hover{
    transform: scale(1.2);
  }